

table{
	margin-top: 4rem;
	margin-left: 4rem;
}

table, td, tr{
	border-collapse: collapse;
	border : 1px solid #888888;
}

td{
	height: 65px;
	width : 65px;
	text-align: center;
	z-index: 1;
	vertical-align: middle;
	padding-top: 5px;
	background-color: #DBDBDB;

}

div{
	z-index: 2;
	position: relative;
	width: 30px;
	height: 32px;
	top: -10px;
	left: 17px;
	margin : 0;
	padding: 0;
	background-color: white;
	transform:scale(2);
	background-color: #DBDBDB;
}


.reveal{
	display: none;


}

.white{
	background-color: white;
}


h2{
	display: none;
}

.lose{
	display: block;
	position : absolute;
	top : 200px;
	left: 500px;
	z-index: 3;
	font-size: 6rem;
	transform: rotate(-45deg);
}

.win{
	display: block;
	position: absolute;
	top: 250px;
	left: 500px;
	font-size: 5rem;
}

.flag{
	background : no-repeat bottom url("img/flag.ico");
	background-size: 100%;
}


.bomb{
	background: no-repeat center url("img/mine2.ico");
	background-size: 100%;
}

.redbomb{
	background: no-repeat center url("img/mine.ico");
	background-size: 100%;
}