.rectangle{
	background-color: #0000ff;
	width: 300px;
	height: 400px;
	border-radius: 20px;
}

.important{
	background-color: #b22222;
}


.good{
	background-color: #32cd32;
}

*{
	transition-duration: 0.5s
}


.hide {
	display: none;
}